.TabelaProdutos table {
    width: 100%;
}

.TabelaProdutos th {
    background-color: rgb(39, 84, 92);
    color: #fff;
}

.TabelaProdutos .Par {
    background-color: #ddd;
}

.TabelaProdutos .Impar {
    background-color: #ccc;
}